@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-3xl font-bold;
}
h2{
    @apply text-lg font-bold;
}
p{
    @apply text-lg opacity-40; 
}
li{
    @apply text-sm hover:opacity-70 duration-700 opacity-40;
}

input[type="checkbox"]{
    content: "";
    width: 1rem;
    height: 1rem;
    accent-color: #00b207;
  }
  
.nav {
    @apply flex pl-5 items-center h-9 hover:bg-gray-400 w-full hover:border-l-4 hover:border-green-600;
}
  