@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-3xl font-bold;
}
h2{
    @apply text-lg font-bold;
}
p{
    @apply text-lg opacity-40; 
}
li{
    @apply text-sm hover:opacity-70 duration-700 opacity-40;
}

input[type="checkbox"]{
    content: "";
    width: 1rem;
    height: 1rem;
    accent-color: #00b207;
  }
  
.nav {
    @apply flex pl-5 py-2 items-center gap-2 h-9 hover:bg-gray-400 w-full hover:border-l-4 hover:border-green-600;
}

.input_controllers {
    @apply w-[320px] h-[30px] outline-none border border-solid rounded-md focus:border-2 focus:border-solid focus:border-green-500 placeholder:text-gray-300 pl-2 font-semibold ; 
}
button{
    @apply bg-green-500 hover:bg-green-600 text-white py-2 px-2 duration-700
}